@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chakra Petch", sans-serif;
}
body header {
  width: 100%;
}
body header .img-top-container {
  width: 100%;
  background: linear-gradient(90deg, #4195da, #3d48b3, #0e3a5e);
  color: whitesmoke;
  padding-bottom: 10px;
  box-shadow: 1px 1px 4px 1px #1e212e;
}
body header .img-top-container .line-spearator {
  width: 10%;
  margin: 30px auto;
  height: 0.2rem;
  border-radius: 20px;
  background-color: #fff;
}
body header .img-top-container h5 {
  color: #eeeeee;
}
body header .img-top-container h6 {
  color: #b4b4b4;
}
body header .img-top-container .profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 30px;
  box-shadow: 1px 1px 4px 1px #302f2f;
}
body section .about-me, body section .proyects-content, body section .skills-content {
  width: 90%;
  margin: 20px auto;
}
body section .about-me .line-title-divisor, body section .proyects-content .line-title-divisor, body section .skills-content .line-title-divisor {
  width: 100%;
  height: 0.12rem;
  border-radius: 3px;
  background: linear-gradient(to left, #ffc1c1, #fa0707);
}
body section .tools-tecnology {
  align-items: center;
  text-align: center;
}
body section .tools-tecnology .top-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
}
body section .tools-tecnology .top-img:last-child {
  height: 190px;
}
body section .tools-tecnology label {
  text-align: justify;
}
body section .download-cv-content {
  width: 100%;
  text-align: center;
}
body section .download-cv-content .btn-download-cv {
  padding: 10px 25px 10px 25px;
  border: 1px solid #1e212e;
  background: linear-gradient(to left, #404457, #262a38);
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 1px #1f1f1f inset, 0 0 3px 1px #181818;
}
body section .download-cv-content .btn-download-cv:hover {
  background: #404457;
  transition: all 0.3s;
  box-shadow: 1px 1px 2px 1px #464646;
}
body section .misc-background {
  width: 100%;
  background: linear-gradient(90deg, #4195da, #3d48b3, #0e3a5e);
  color: whitesmoke;
  padding-bottom: 10px;
  box-shadow: 1px 1px 4px 1px #1e212e;
  margin: 50px auto;
}
body section .misc-background .row {
  width: 90%;
  margin: 0 auto;
}
body section .misc-background .line-separator {
  width: 60%;
  background-color: #fff;
  height: 0.2rem;
  border-radius: 10px;
}
body section .proyects-content .proyect-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
body footer .footer-background {
  width: 100%;
  background: linear-gradient(90deg, #4195da, #3d48b3, #0e3a5e);
  color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 4px 1px #1e212e;
}
body footer .footer-background .footer-content {
  width: 90%;
  margin: 0px auto;
}

/*# sourceMappingURL=pfstyles.css.map */
