@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Chakra Petch', sans-serif;

    header {
        width: 100%;

        .img-top-container {
            width: 100%;
            background: linear-gradient(90deg, rgb(65, 149, 218), rgb(61, 72, 179), rgb(14, 58, 94));
            color : rgb(245, 245, 245);
            padding-bottom: 10px;
            box-shadow: 1px 1px 4px 1px #1e212e;

            .line-spearator {
                width: 10%;
                margin: 30px auto;
                height: 0.2rem;
                border-radius: 20px;
                background-color: #fff;
            }

            h5 { color: rgb(238, 238, 238) }
            h6 { color: rgb(180, 180, 180) }
            
            .profile-picture {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin-top: 30px;
                box-shadow: 1px 1px 4px 1px rgb(48, 47, 47);
            }
        }
    }

    section {
        
        .about-me, .proyects-content, .skills-content, .experience-content {
            width: 90%;
            margin: 20px auto;
            
            .line-title-divisor {
                width: 100%;
                height: 0.12rem;
                border-radius: 3px;
                background: linear-gradient(to left, rgb(255, 193, 193), rgb(250, 7, 7));
            }
        }

        .tools-tecnology {
            align-items: center;
            text-align: center;
            
            .top-img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                object-position: center;
                opacity: .7;

                &:last-child {
                    height: 190px;
                }
            }

            label {
                text-align: justify;
            }
        }

        .download-cv-content {
            width: 100%;
            text-align: center;
            
            .btn-download-cv {
                padding: 10px 25px 10px 25px;
                border: 1px solid #1e212e;
                background: linear-gradient(to left, #404457, #262a38);
                color: #fff;
                border-radius: 3px;
                box-shadow: 1px 1px 2px 1px #1f1f1f inset, 0 0 3px 1px #181818;

                &:hover {
                    background: #404457;
                    transition: all .3s;
                    box-shadow: 1px 1px 2px 1px #464646;
                }
            }
        }

        .misc-background {
            width: 100%;
            background: linear-gradient(90deg, rgb(65, 149, 218), rgb(61, 72, 179), rgb(14, 58, 94));
            color : rgb(245, 245, 245);
            padding-bottom: 10px;
            box-shadow: 1px 1px 4px 1px #1e212e;
            margin: 50px auto;

            .row {
                width: 90%;
                margin: 0 auto;
            }
            .line-separator {
                width: 60%;
                background-color: #fff;
                height: 0.2rem;
                border-radius: 10px;
            }
        }

        .proyects-content {
            width: 100%;

            .pc-header { width: 90%; margin: 0 auto; }

            .proyect-img {
                width: 100%; 
                height: 200px;
                object-fit: cover;
                object-position: center;
            }

            .card {
                box-shadow: 2px 2px 8px -5px rgb(12, 12, 12);

                .btn-proyect {
                    background-color: #ff3a4a;
                    border: 1px solid #ff3a4a;
                    padding: 4px 10px;
                    border-radius: 3px;
                    color: #fff;
                    box-shadow: 1px 1px 4px 1px #ccc;
                    display: none;

                    &:hover {
                        background-color: #ff707c;
                        border: 1px solid #ff707c;
                        transition: all .3s;
                    }
                }

                &:hover {
                    transform: scale(1.1, 1.1);
                    box-shadow: 2px 2px 10px 1px rgb(136, 136, 136);
                    z-index: 1;
                    transition: all .3s;

                    .btn-proyect {
                        display: block;
                    }

                    .proyect-img {
                        opacity: .6;
                        transition: all .3s;
                        
                    }
                }

                p {
                    text-align: justify;
                }
            }
        }
    }

    footer {

        .footer-background{
            width: 100%;
            background: linear-gradient(90deg, rgb(65, 149, 218), rgb(61, 72, 179), rgb(14, 58, 94));
            color : rgb(245, 245, 245);
            padding-top: 20px;
            padding-bottom: 20px;
            box-shadow: 1px 1px 4px 1px #1e212e;

            .footer-content {
                width: 90%;
                margin: 0px auto;
            }

            a {
                text-decoration: none;
                color: #fff;
                padding: 20px;
                font-size: 3rem;
            }

            h6 {
                text-align: end;
                font-size: 0.85rem;
                margin-right: 15px;
                margin-bottom: -10px;
                color: #ccc;
            }
        }
    }
}