@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Oxygen', sans-serif;
  background-color: #070707; }
  @media (min-width: 576px) {
    body {
      overflow: hidden; } }
  body a {
    cursor: pointer; }
  body a.download-btn {
    padding: 10px 50px 10px 50px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    color: #FFF; }
    body a.download-btn:hover {
      transition: all .3s;
      background-color: #FFFFFF;
      color: #1a1a1a; }
  body nav {
    z-index: 999;
    width: 100%;
    background-color: transparent; }
    body nav .mobile-btn {
      display: none; }
    body nav ul.desktop-menu {
      list-style: none;
      background-color: transparent; }
      @media (max-width: 575px) {
        body nav ul.desktop-menu {
          display: block;
          padding: 0;
          z-index: 2;
          top: 0;
          position: fixed;
          width: 200px;
          margin-left: -200px;
          height: 100%;
          transition: ease-in .3s;
          background-color: rgba(28, 28, 32, 0.993);
          border-radius: 0 3px 3px 3px; }
          body nav ul.desktop-menu.menu-open {
            visibility: visible;
            width: 45%;
            opacity: 1;
            margin-left: 0;
            transition: ease-out .4s; }
          body nav ul.desktop-menu li {
            padding: 5px 10px 5px 10px; }
            body nav ul.desktop-menu li:first-child {
              padding-top: 15px;
              color: #FFF; }
              body nav ul.desktop-menu li:first-child hr {
                margin-top: 1px;
                border-bottom: 1px solid #797979; }
            body nav ul.desktop-menu li a {
              display: block !important;
              text-decoration: none;
              padding: 7px;
              width: 100%;
              color: #FFF;
              font-size: .85rem; }
              body nav ul.desktop-menu li a:active, body nav ul.desktop-menu li a.active {
                background-color: #ff4040 !important;
                color: #fff;
                border-radius: 5px;
                font-weight: bold;
                transition: all .3s;
                box-shadow: 0 0 3px 0 #2e1212 inset; }
              body nav ul.desktop-menu li a .menu-text {
                margin-left: 10px; } }
      @media (min-width: 576px) {
        body nav ul.desktop-menu {
          display: flex; }
          body nav ul.desktop-menu li {
            padding: 20px 15px; }
            body nav ul.desktop-menu li a {
              padding: 7px 10px;
              text-decoration: none;
              color: white;
              font-size: 0.85rem; }
              body nav ul.desktop-menu li a i {
                margin-top: 3px; }
              body nav ul.desktop-menu li a .menu-text {
                visibility: hidden;
                opacity: 0;
                margin-right: -60px; }
              body nav ul.desktop-menu li a:hover:not(.active) {
                border-radius: 50px;
                padding: 7px 10px;
                transition: all .3s;
                color: #ff2929; }
                body nav ul.desktop-menu li a:hover:not(.active) .menu-text {
                  color: #ff2929;
                  visibility: visible;
                  opacity: 1;
                  animation: fade-in 500ms forwards;
                  margin-left: 8px;
                  margin-right: 0;
                  transition: cubic-bezier(1, 0, 0, 1) 0.3s all; }
              body nav ul.desktop-menu li a.active {
                color: #FFFFFF;
                background-color: #ff2929;
                border-radius: 50px; }
                body nav ul.desktop-menu li a.active .menu-text {
                  margin-left: 8px;
                  display: block;
                  visibility: visible;
                  font-weight: bold;
                  margin-right: 0;
                  opacity: 1; } }
    @media (max-width: 575px) {
      body nav .mobile-btn {
        display: block;
        margin: 10px;
        padding: 5px 10px 5px 10px;
        color: #FFF;
        background-color: transparent;
        border: none; }
        body nav .mobile-btn:active {
          background-color: #ff4040;
          color: white;
          border-radius: 3px 3px 0 0;
          transition: all .3s; }
      body nav .mobile-cv {
        display: block !important;
        position: absolute;
        width: 100%;
        bottom: 3%; }
        body nav .mobile-cv .download-btn {
          background-color: #FFF;
          color: #0a0a14;
          font-weight: bold; }
      body nav .mobile-menu-title {
        display: block !important; }
      body nav .close-menu {
        display: block !important;
        position: absolute;
        visibility: hidden;
        top: 0;
        right: 0;
        margin: 10px;
        padding: 5px 10px 5px 10px;
        background: transparent;
        border: none;
        color: #FFF; }
        body nav .close-menu.active {
          visibility: visible;
          transition: ease-out .3s all; } }
    body nav .close-menu, body nav .mobile-cv, body nav .mobile-menu-title {
      display: none; }
  body .background-container {
    width: 100%; }
    @media (min-width: 576px) {
      body .background-container {
        height: 100vh;
        max-height: 100vh;
        position: absolute; } }
  body hr {
    background: linear-gradient(90deg, #ff4e4e, #3a3232);
    width: 90%; }
  body header {
    width: 100%;
    color: white;
    padding-top: 20vh; }
    @media (max-width: 575px) {
      body header {
        padding-bottom: 20vh; } }
    body header .content {
      width: 100%;
      text-align: center; }
      body header .content h2.name {
        font-size: 2.5rem; }
      body header .content h1.lastname {
        font-weight: 800;
        font-size: 3.5rem; }
  body section .about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7% auto;
    width: 65%;
    color: #FFF; }
    @media (max-width: 575px) {
      body section .about-me {
        display: block; }
        body section .about-me .text-content {
          width: 100% !important;
          text-align: justify; }
          body section .about-me .text-content h1, body section .about-me .text-content h5 {
            text-align: center; }
        body section .about-me .mobile-profile-pic {
          display: block !important;
          margin: 20px auto; }
        body section .about-me .profile-picture {
          display: none; } }
    @media (min-width: 576px) and (max-width: 768px) {
      body section .about-me {
        width: 90% !important;
        margin: 4% auto; }
        body section .about-me .profile-picture {
          width: 250px !important;
          height: 250px !important; } }
    @media (min-width: 769px) and (max-width: 1100px) {
      body section .about-me {
        width: 80%;
        margin: 5% auto; } }
    body section .about-me .text-content {
      width: 48%; }
      body section .about-me .text-content h5.profesion {
        color: #fa0707; }
    body section .about-me .profile-picture, body section .about-me .mobile-profile-pic {
      border-radius: 50%;
      justify-content: center;
      box-shadow: 0 0 250px 14px #141313; }
    body section .about-me .mobile-profile-pic {
      display: none;
      width: 150px;
      height: 150px; }
    body section .about-me .profile-picture {
      width: 300px;
      height: 300px; }
  body section .tools-tecnology {
    color: #FFF;
    overflow: auto;
    overflow-x: hidden;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 20px; }
    @media (min-width: 576px) and (max-width: 991px) {
      body section .tools-tecnology {
        max-height: 77vh;
        width: 98%;
        padding: 20px; } }
    @media (max-width: 767px) {
      body section .tools-tecnology h5 {
        margin-top: 10px; }
      body section .tools-tecnology hr {
        width: 100%; }
      body section .tools-tecnology li {
        list-style: square;
        margin-bottom: 20px; } }
    @media (min-width: 992px) {
      body section .tools-tecnology {
        max-height: 79vh; } }
    body section .tools-tecnology::-webkit-scrollbar-thumb {
      background: linear-gradient(45deg, #534949, #b62323);
      border-radius: 10px; }
    body section .tools-tecnology::-webkit-scrollbar {
      background: transparent;
      width: 7px; }
    body section .tools-tecnology::-webkit-scrollbar-track {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      box-shadow: 0 0 1px inset #ccc; }
    body section .tools-tecnology .top-img {
      width: 40px; }
      @media (min-width: 768px) {
        body section .tools-tecnology .top-img {
          margin-right: 120px; } }
    body section .tools-tecnology .language-icon {
      width: 20px;
      height: 20px; }
      body section .tools-tecnology .language-icon.php {
        width: 27px; }
    body section .tools-tecnology .progress {
      margin-top: 3px;
      height: 11px;
      background-color: #bdbdbd;
      border-radius: 2px; }
      body section .tools-tecnology .progress .progress-bar {
        background-color: #ff3737;
        height: 11px; }
  body section .experience {
    color: #FFF;
    width: 92%;
    margin: 0 auto; }
    @media (min-width: 576px) {
      body section .experience {
        max-height: 77vh;
        overflow: auto;
        overflow-x: hidden; } }
    @media (min-width: 1200px) {
      body section .experience {
        margin-top: 20px; } }
    body section .experience::-webkit-scrollbar-thumb {
      background: linear-gradient(45deg, #534949, #b62323);
      border-radius: 10px; }
    body section .experience::-webkit-scrollbar {
      background: transparent;
      width: 7px; }
    body section .experience::-webkit-scrollbar-track {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      box-shadow: 0 0 1px inset #ccc; }
    body section .experience .list-one {
      list-style-type: none; }
      body section .experience .list-one li {
        padding: 10px 0; }
        body section .experience .list-one li::before {
          content: '\2714\0020';
          margin-right: 10px;
          margin-left: -28px; }
    body section .experience .list-two {
      list-style: square; }
    body section .experience .list-three {
      list-style: circle; }
      @media (max-width: 575px) {
        body section .experience .list-three {
          margin-bottom: 50px; } }
  body section .proyects {
    color: #FFF;
    width: 95%;
    margin: 0 auto; }
    @media (min-width: 576px) {
      body section .proyects {
        max-height: 77vh;
        overflow: auto;
        overflow-x: hidden; } }
    @media (min-width: 575px) and (max-width: 991px) {
      body section .proyects {
        padding: 0 20px; }
        body section .proyects .card h3 {
          font-size: 1.3rem; }
        body section .proyects .card h6 {
          font-size: 0.85rem; } }
    @media (min-width: 992px) {
      body section .proyects {
        padding: 0 50px; } }
    @media (min-width: 480px) and (max-width: 872px) {
      body section .proyects .content {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%; }
      body section .proyects .card {
        margin: 8px; }
        body section .proyects .card .card-body {
          max-height: 100%; }
        body section .proyects .card .text-end {
          position: absolute;
          bottom: 0; }
        body section .proyects .card .middle {
          margin-bottom: 70px; } }
    @media (max-width: 480px), (min-width: 873px) {
      body section .proyects .card {
        margin-bottom: 15px; } }
    @media (min-width: 873px) {
      body section .proyects .middle {
        padding-left: 20px; } }
    body section .proyects::-webkit-scrollbar-thumb {
      background: linear-gradient(45deg, #534949, #b62323);
      border-radius: 10px; }
    body section .proyects::-webkit-scrollbar {
      background: transparent;
      width: 7px; }
    body section .proyects::-webkit-scrollbar-track {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      box-shadow: 0 0 1px inset #ccc; }
    body section .proyects .pc-header {
      width: 90%;
      margin: 0 auto; }
    body section .proyects .proyect-img {
      width: 100%;
      height: 120px;
      object-fit: cover;
      object-position: center;
      padding: 0; }
      @media (max-width: 872px) {
        body section .proyects .proyect-img {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px; } }
    body section .proyects .card {
      background: linear-gradient(270deg, #584c4c, #7e4343); }
      @media (max-width: 872px) {
        body section .proyects .card .table td {
          width: 100%;
          display: block; }
          body section .proyects .card .table td.text-end {
            padding: 20px; } }
      @media (min-width: 576px) {
        body section .proyects .card .text-end {
          text-align: center !important; } }
      body section .proyects .card .card-body {
        background-color: rgba(31, 31, 36, 0.95); }
      body section .proyects .card h3 {
        color: #FFF !important; }
      body section .proyects .card h6 {
        color: #9c9c9c !important; }
      body section .proyects .card .btn-proyect {
        background-color: #ff3a44;
        border: none;
        padding: 4px 10px;
        border-radius: 3px;
        color: #fff; }
        body section .proyects .card .btn-proyect:hover {
          background-color: #ff5b5b;
          transition: all .3s; }
      body section .proyects .card .git-link {
        color: #5299f7; }
        body section .proyects .card .git-link:hover {
          color: #80b7ff;
          transition: all .3s; }
      body section .proyects .card:hover {
        transform: scale(1.02, 1.05);
        transition: all .3s; }
        body section .proyects .card:hover .proyect-img {
          opacity: .85;
          transition: all .3s; }
  body footer {
    width: 100%; }
    @media (min-width: 576px) {
      body footer {
        position: absolute;
        bottom: 0; } }
    body footer .footer-background {
      width: 100%;
      background-color: transparent;
      color: whitesmoke; }
      body footer .footer-background .footer-content {
        text-align: right; }
        body footer .footer-background .footer-content a {
          text-decoration: none;
          color: #fff;
          padding: 0px 10px 0 10px;
          font-size: 1.5rem; }
          body footer .footer-background .footer-content a.first {
            margin-left: 20px; }
          body footer .footer-background .footer-content a:hover {
            color: #ff2929;
            transition: all .3s; }
  body .slide-fade-enter-active {
    transition: all .8s ease; }
  body .slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1); }
  body .slide-fade-enter, body .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0; }

/*# sourceMappingURL=pfStyles.css.map */
